--
-- PostgreSQL database dump
--

\restrict NjRkm66tOzik3rOShsg4cqVFGYcRpMnTUh5phIXUVkOLz4IKaDaYbAO0yabBClc

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: set_requests_updated_at(); Type: FUNCTION; Schema: public; Owner: budgetbasket
--

CREATE FUNCTION public.set_requests_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
        BEGIN
            NEW.updated_at = now();
            RETURN NEW;
        END;
        $$;


ALTER FUNCTION public.set_requests_updated_at() OWNER TO budgetbasket;

--
-- Name: validate_req_item_catalog_department(); Type: FUNCTION; Schema: public; Owner: budgetbasket
--

CREATE FUNCTION public.validate_req_item_catalog_department() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
        DECLARE
            request_department_id uuid;
            catalog_department_id uuid;
        BEGIN
            WITH RECURSIVE ancestry AS (
                SELECT u.id, u.parent_id
                FROM requests r JOIN units u ON u.id = r.unit_id
                WHERE r.id = NEW.request_id
                UNION ALL
                SELECT parent.id, parent.parent_id
                FROM units parent JOIN ancestry child ON child.parent_id = parent.id
            )
            SELECT id INTO request_department_id
            FROM ancestry
            WHERE parent_id IS NULL
            LIMIT 1;

            SELECT unit_id INTO catalog_department_id FROM dds_catalog WHERE id = NEW.dds_id;
            IF catalog_department_id IS NULL THEN
                SELECT unit_id INTO catalog_department_id FROM invests_catalog WHERE id = NEW.invest_id;
            END IF;
            IF NEW.status <> 'deleted' AND catalog_department_id IS DISTINCT FROM request_department_id THEN
                RAISE EXCEPTION 'Request line catalog entry belongs to another department';
            END IF;
            RETURN NEW;
        END;
        $$;


ALTER FUNCTION public.validate_req_item_catalog_department() OWNER TO budgetbasket;

--
-- Name: validate_req_item_catalog_mode(); Type: FUNCTION; Schema: public; Owner: budgetbasket
--

CREATE FUNCTION public.validate_req_item_catalog_mode() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
        DECLARE
            unit_uses_invest_projects boolean;
        BEGIN
            SELECT u.uses_invest_projects INTO unit_uses_invest_projects
            FROM requests r JOIN units u ON u.id = r.unit_id
            WHERE r.id = NEW.request_id;
            IF NEW.status <> 'deleted' AND (
                (unit_uses_invest_projects AND NEW.dds_id IS NOT NULL) OR
                (NOT unit_uses_invest_projects AND NEW.invest_id IS NOT NULL)
            ) THEN
                RAISE EXCEPTION 'Request line type does not match the unit mode';
            END IF;
            RETURN NEW;
        END;
        $$;


ALTER FUNCTION public.validate_req_item_catalog_mode() OWNER TO budgetbasket;

--
-- Name: validate_unit_catalog_mode(); Type: FUNCTION; Schema: public; Owner: budgetbasket
--

CREATE FUNCTION public.validate_unit_catalog_mode() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
        BEGIN
            IF NEW.uses_invest_projects IS DISTINCT FROM OLD.uses_invest_projects AND EXISTS (
                SELECT 1
                FROM requests r JOIN req_items ri ON ri.request_id = r.id
                WHERE r.unit_id = NEW.id
                  AND ri.status <> 'deleted'
                  AND ((NEW.uses_invest_projects AND ri.dds_id IS NOT NULL)
                       OR (NOT NEW.uses_invest_projects AND ri.invest_id IS NOT NULL))
            ) THEN
                RAISE EXCEPTION 'Cannot change unit mode while active request lines use the other type';
            END IF;
            RETURN NEW;
        END;
        $$;


ALTER FUNCTION public.validate_unit_catalog_mode() OWNER TO budgetbasket;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO budgetbasket;

--
-- Name: chat_messages; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.chat_messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    chat_id uuid NOT NULL,
    reply_to uuid,
    sender_id uuid,
    text text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    is_system boolean DEFAULT false NOT NULL
);


ALTER TABLE public.chat_messages OWNER TO budgetbasket;

--
-- Name: chats_participants; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.chats_participants (
    chat_id uuid NOT NULL,
    user_id uuid NOT NULL,
    last_read_message_id uuid
);


ALTER TABLE public.chats_participants OWNER TO budgetbasket;

--
-- Name: dds_catalog; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.dds_catalog (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    parent_id uuid,
    unit_id uuid,
    name text NOT NULL,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.dds_catalog OWNER TO budgetbasket;

--
-- Name: files; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.files (
    id bigint NOT NULL,
    id_storage_object bigint NOT NULL,
    original_name text NOT NULL
);


ALTER TABLE public.files OWNER TO budgetbasket;

--
-- Name: files_id_seq; Type: SEQUENCE; Schema: public; Owner: budgetbasket
--

CREATE SEQUENCE public.files_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.files_id_seq OWNER TO budgetbasket;

--
-- Name: files_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: budgetbasket
--

ALTER SEQUENCE public.files_id_seq OWNED BY public.files.id;


--
-- Name: invests_catalog; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.invests_catalog (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    parent_id uuid,
    unit_id uuid,
    name text NOT NULL,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.invests_catalog OWNER TO budgetbasket;

--
-- Name: message_files; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.message_files (
    file_id bigint NOT NULL,
    message_id uuid NOT NULL
);


ALTER TABLE public.message_files OWNER TO budgetbasket;

--
-- Name: profiles; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.profiles (
    user_id uuid NOT NULL,
    name text NOT NULL,
    second_name text,
    last_name text NOT NULL,
    phone text,
    email text,
    max_link text
);


ALTER TABLE public.profiles OWNER TO budgetbasket;

--
-- Name: req_chats; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.req_chats (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    req_id uuid NOT NULL
);


ALTER TABLE public.req_chats OWNER TO budgetbasket;

--
-- Name: req_item_files; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.req_item_files (
    file_id bigint NOT NULL,
    req_item_id uuid NOT NULL
);


ALTER TABLE public.req_item_files OWNER TO budgetbasket;

--
-- Name: req_item_month_plans; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.req_item_month_plans (
    req_item_id uuid NOT NULL,
    month smallint NOT NULL,
    sum_plan numeric(14,2) DEFAULT 0 NOT NULL,
    CONSTRAINT req_item_month_plans_month_chk CHECK (((month >= 1) AND (month <= 12))),
    CONSTRAINT req_item_month_plans_sum_plan_chk CHECK ((sum_plan >= (0)::numeric))
);


ALTER TABLE public.req_item_month_plans OWNER TO budgetbasket;

--
-- Name: req_items; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.req_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    request_id uuid NOT NULL,
    dds_id uuid,
    invest_id uuid,
    name text NOT NULL,
    sum_plan numeric(14,2) DEFAULT 0 NOT NULL,
    sum_fact numeric(14,2) DEFAULT 0 NOT NULL,
    justification text DEFAULT ''::text NOT NULL,
    status text DEFAULT 'on_review'::text NOT NULL,
    comment text DEFAULT ''::text NOT NULL,
    is_income boolean DEFAULT false NOT NULL,
    CONSTRAINT req_items_article_chk CHECK (((dds_id IS NULL) <> (invest_id IS NULL))),
    CONSTRAINT req_items_status_chk CHECK ((status = ANY (ARRAY['on_review'::text, 'rejected'::text, 'approved_with_changes'::text, 'approved'::text, 'deleted'::text]))),
    CONSTRAINT req_items_sum_fact_chk CHECK ((sum_fact >= (0)::numeric)),
    CONSTRAINT req_items_sum_plan_chk CHECK ((sum_plan >= (0)::numeric))
);


ALTER TABLE public.req_items OWNER TO budgetbasket;

--
-- Name: req_logs; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.req_logs (
    id bigint NOT NULL,
    req_id uuid NOT NULL,
    user_id uuid NOT NULL,
    log jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.req_logs OWNER TO budgetbasket;

--
-- Name: req_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: budgetbasket
--

CREATE SEQUENCE public.req_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.req_logs_id_seq OWNER TO budgetbasket;

--
-- Name: req_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: budgetbasket
--

ALTER SEQUENCE public.req_logs_id_seq OWNED BY public.req_logs.id;


--
-- Name: request_step_states; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.request_step_states (
    request_id uuid NOT NULL,
    step_id uuid NOT NULL,
    status text DEFAULT 'waiting'::text NOT NULL,
    CONSTRAINT request_step_states_status_chk CHECK ((status = ANY (ARRAY['waiting'::text, 'on_approval'::text, 'on_revision'::text, 'approved'::text, 'closed'::text])))
);


ALTER TABLE public.request_step_states OWNER TO budgetbasket;

--
-- Name: requests; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.requests (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    economist_id uuid,
    unit_id uuid NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    frozen boolean DEFAULT false NOT NULL,
    sum_plan numeric(14,2) DEFAULT 0 NOT NULL,
    sum_fact numeric(14,2) DEFAULT 0 NOT NULL,
    fixed boolean DEFAULT false NOT NULL,
    CONSTRAINT requests_status_chk CHECK ((status = ANY (ARRAY['draft'::text, 'on_review'::text, 'approved'::text, 'approved_with_changes'::text, 'partially_approved'::text, 'rejected'::text, 'cancelled'::text]))),
    CONSTRAINT requests_sum_fact_chk CHECK ((sum_fact >= (0)::numeric)),
    CONSTRAINT requests_sum_plan_chk CHECK ((sum_plan >= (0)::numeric))
);


ALTER TABLE public.requests OWNER TO budgetbasket;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.roles OWNER TO budgetbasket;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: budgetbasket
--

CREATE SEQUENCE public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO budgetbasket;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: budgetbasket
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: step_edges; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.step_edges (
    parent_step_id uuid NOT NULL,
    child_step_id uuid NOT NULL,
    CONSTRAINT step_edges_no_self_chk CHECK ((parent_step_id <> child_step_id))
);


ALTER TABLE public.step_edges OWNER TO budgetbasket;

--
-- Name: step_logs; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.step_logs (
    id bigint NOT NULL,
    step_id uuid,
    user_id uuid NOT NULL,
    log jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.step_logs OWNER TO budgetbasket;

--
-- Name: step_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: budgetbasket
--

CREATE SEQUENCE public.step_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.step_logs_id_seq OWNER TO budgetbasket;

--
-- Name: step_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: budgetbasket
--

ALTER SEQUENCE public.step_logs_id_seq OWNED BY public.step_logs.id;


--
-- Name: steps; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.steps (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    unit_id uuid,
    status text DEFAULT 'waiting'::text NOT NULL,
    CONSTRAINT steps_status_chk CHECK ((status = ANY (ARRAY['waiting'::text, 'on_approval'::text, 'on_revision'::text, 'approved'::text, 'closed'::text])))
);


ALTER TABLE public.steps OWNER TO budgetbasket;

--
-- Name: storage_objects; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.storage_objects (
    id bigint NOT NULL,
    storage_bucket text NOT NULL,
    storage_key text NOT NULL,
    content_sha256 text NOT NULL,
    mime_type text NOT NULL,
    size_bytes bigint NOT NULL,
    CONSTRAINT storage_objects_size_chk CHECK ((size_bytes >= 0))
);


ALTER TABLE public.storage_objects OWNER TO budgetbasket;

--
-- Name: storage_objects_id_seq; Type: SEQUENCE; Schema: public; Owner: budgetbasket
--

CREATE SEQUENCE public.storage_objects_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.storage_objects_id_seq OWNER TO budgetbasket;

--
-- Name: storage_objects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: budgetbasket
--

ALTER SEQUENCE public.storage_objects_id_seq OWNED BY public.storage_objects.id;


--
-- Name: units; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.units (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    parent_id uuid,
    name text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    uses_invest_projects boolean DEFAULT false NOT NULL,
    annual_budget numeric(14,2) DEFAULT 0 NOT NULL,
    CONSTRAINT units_annual_budget_chk CHECK ((annual_budget >= (0)::numeric))
);


ALTER TABLE public.units OWNER TO budgetbasket;

--
-- Name: units_responsibles; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.units_responsibles (
    unit_id uuid NOT NULL,
    user_id uuid NOT NULL,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.units_responsibles OWNER TO budgetbasket;

--
-- Name: users; Type: TABLE; Schema: public; Owner: budgetbasket
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    login text NOT NULL,
    password text NOT NULL,
    id_role bigint NOT NULL
);


ALTER TABLE public.users OWNER TO budgetbasket;

--
-- Name: files id; Type: DEFAULT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.files ALTER COLUMN id SET DEFAULT nextval('public.files_id_seq'::regclass);


--
-- Name: req_logs id; Type: DEFAULT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_logs ALTER COLUMN id SET DEFAULT nextval('public.req_logs_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: step_logs id; Type: DEFAULT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.step_logs ALTER COLUMN id SET DEFAULT nextval('public.step_logs_id_seq'::regclass);


--
-- Name: storage_objects id; Type: DEFAULT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.storage_objects ALTER COLUMN id SET DEFAULT nextval('public.storage_objects_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--

COPY public.alembic_version (version_num) FROM stdin;
20260728_0019
\.


--
-- Data for Name: chat_messages; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: chats_participants; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: dds_catalog; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: files; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--

COPY public.files (id, id_storage_object, original_name) FROM stdin;
1	1	заявки.xlsx
2	2	Протокол разногласий.docx
3	3	ChatGPT Image 24 мая 2026 г., 15_28_11.png
4	4	Презентация сайта для поставщиков.pdf
5	5	Утверждение_бюджета.zip
6	6	87d6c1b2-cdcd-4661-aaf4-8ec74c88fde7.jpg
7	7	4de87945-bf11-4d95-afc9-1f3de0e850ba.jpg
8	8	3f169025-d71b-461d-b8d7-cb40863acc13.jpg
\.


--
-- Data for Name: invests_catalog; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--

COPY public.invests_catalog (id, parent_id, unit_id, name, is_active) FROM stdin;
\.


--
-- Data for Name: message_files; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--

COPY public.message_files (file_id, message_id) FROM stdin;
6	b7eae114-4123-4a83-a134-1e29f36bee1c
7	b7eae114-4123-4a83-a134-1e29f36bee1c
8	b7eae114-4123-4a83-a134-1e29f36bee1c
\.


--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: req_chats; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--

COPY public.req_chats (id, req_id) FROM stdin;
86cef440-3516-4875-95c7-c739a9b2c4a4	b1a807c6-686a-4947-92f7-9f5189457da9
f666931f-b61e-45ae-aab2-549c5dcaf711	51526c30-7989-40b2-883b-276a99e3f36d
e65ea3aa-d707-45f2-999a-84e6534e0b5d	85741621-6cc9-4d04-9bee-efe6f56eefa4
2ee34df6-38f1-45f0-af48-0fc6be7ce165	25318879-0061-473d-a602-ad2eb7634f15
c159bc76-e2a5-4151-a61f-ce1e587dfbe8	e38921e4-d0a9-412e-9dfb-7a617a1a6cf8
9fd70b9f-0306-4b8e-95dd-8132a825c1fb	59f95b61-58fe-41a7-a81d-1f9ab6aeb61d
0b62ce99-46a8-4ff1-8380-05d34eed7953	aecc5b02-38e7-46d5-9f09-cc6edc81e507
\.


--
-- Data for Name: req_item_files; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--

COPY public.req_item_files (file_id, req_item_id) FROM stdin;
1	38dc9ea0-538d-4472-9713-cb42cc38ff36
2	57b1796d-9b85-4761-933b-36347f1f5ca4
3	57b1796d-9b85-4761-933b-36347f1f5ca4
4	57b1796d-9b85-4761-933b-36347f1f5ca4
5	2b4862f0-0a94-4cd4-941c-559b5f10c8f1
\.


--
-- Data for Name: req_item_month_plans; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: req_items; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: req_logs; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: request_step_states; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: requests; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--

COPY public.roles (id, name) FROM stdin;
1	admin
2	employee
3	economist
4	approver
5	zgd
\.


--
-- Data for Name: step_edges; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: step_logs; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: steps; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: storage_objects; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: units_responsibles; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: budgetbasket
--



--
-- Name: files_id_seq; Type: SEQUENCE SET; Schema: public; Owner: budgetbasket
--

SELECT pg_catalog.setval('public.files_id_seq', 8, true);


--
-- Name: req_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: budgetbasket
--

SELECT pg_catalog.setval('public.req_logs_id_seq', 1896, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: budgetbasket
--

SELECT pg_catalog.setval('public.roles_id_seq', 5, true);


--
-- Name: step_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: budgetbasket
--

SELECT pg_catalog.setval('public.step_logs_id_seq', 244, true);


--
-- Name: storage_objects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: budgetbasket
--

SELECT pg_catalog.setval('public.storage_objects_id_seq', 8, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: chat_messages chat_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_pkey PRIMARY KEY (id);


--
-- Name: chats_participants chats_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.chats_participants
    ADD CONSTRAINT chats_participants_pkey PRIMARY KEY (chat_id, user_id);


--
-- Name: dds_catalog dds_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.dds_catalog
    ADD CONSTRAINT dds_catalog_pkey PRIMARY KEY (id);


--
-- Name: files files_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_pkey PRIMARY KEY (id);


--
-- Name: invests_catalog invests_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.invests_catalog
    ADD CONSTRAINT invests_catalog_pkey PRIMARY KEY (id);


--
-- Name: message_files message_files_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.message_files
    ADD CONSTRAINT message_files_pkey PRIMARY KEY (file_id, message_id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (user_id);


--
-- Name: req_chats req_chats_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_chats
    ADD CONSTRAINT req_chats_pkey PRIMARY KEY (id);


--
-- Name: req_chats req_chats_req_id_key; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_chats
    ADD CONSTRAINT req_chats_req_id_key UNIQUE (req_id);


--
-- Name: req_item_files req_item_files_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_item_files
    ADD CONSTRAINT req_item_files_pkey PRIMARY KEY (file_id, req_item_id);


--
-- Name: req_item_month_plans req_item_month_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_item_month_plans
    ADD CONSTRAINT req_item_month_plans_pkey PRIMARY KEY (req_item_id, month);


--
-- Name: req_items req_items_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_items
    ADD CONSTRAINT req_items_pkey PRIMARY KEY (id);


--
-- Name: req_logs req_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_logs
    ADD CONSTRAINT req_logs_pkey PRIMARY KEY (id);


--
-- Name: request_step_states request_step_states_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.request_step_states
    ADD CONSTRAINT request_step_states_pkey PRIMARY KEY (request_id, step_id);


--
-- Name: requests requests_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: step_edges step_edges_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.step_edges
    ADD CONSTRAINT step_edges_pkey PRIMARY KEY (parent_step_id, child_step_id);


--
-- Name: step_logs step_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.step_logs
    ADD CONSTRAINT step_logs_pkey PRIMARY KEY (id);


--
-- Name: steps steps_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.steps
    ADD CONSTRAINT steps_pkey PRIMARY KEY (id);


--
-- Name: storage_objects storage_objects_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.storage_objects
    ADD CONSTRAINT storage_objects_pkey PRIMARY KEY (id);


--
-- Name: storage_objects storage_objects_storage_key_key; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.storage_objects
    ADD CONSTRAINT storage_objects_storage_key_key UNIQUE (storage_key);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: units_responsibles units_responsibles_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.units_responsibles
    ADD CONSTRAINT units_responsibles_pkey PRIMARY KEY (unit_id, user_id);


--
-- Name: users users_login_key; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_login_key UNIQUE (login);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_chat_messages_chat_id_created_at; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_chat_messages_chat_id_created_at ON public.chat_messages USING btree (chat_id, created_at);


--
-- Name: idx_chat_messages_reply_to; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_chat_messages_reply_to ON public.chat_messages USING btree (reply_to);


--
-- Name: idx_chats_participants_user_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_chats_participants_user_id ON public.chats_participants USING btree (user_id);


--
-- Name: idx_dds_catalog_active; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_dds_catalog_active ON public.dds_catalog USING btree (is_active);


--
-- Name: idx_dds_catalog_parent_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_dds_catalog_parent_id ON public.dds_catalog USING btree (parent_id);


--
-- Name: idx_dds_catalog_unit_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_dds_catalog_unit_id ON public.dds_catalog USING btree (unit_id);


--
-- Name: idx_files_storage_object; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_files_storage_object ON public.files USING btree (id_storage_object);


--
-- Name: idx_invests_catalog_active; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_invests_catalog_active ON public.invests_catalog USING btree (is_active);


--
-- Name: idx_invests_catalog_parent_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_invests_catalog_parent_id ON public.invests_catalog USING btree (parent_id);


--
-- Name: idx_invests_catalog_unit_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_invests_catalog_unit_id ON public.invests_catalog USING btree (unit_id);


--
-- Name: idx_message_files_message_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_message_files_message_id ON public.message_files USING btree (message_id);


--
-- Name: idx_req_item_files_req_item_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_req_item_files_req_item_id ON public.req_item_files USING btree (req_item_id);


--
-- Name: idx_req_items_dds_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_req_items_dds_id ON public.req_items USING btree (dds_id);


--
-- Name: idx_req_items_invest_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_req_items_invest_id ON public.req_items USING btree (invest_id);


--
-- Name: idx_req_items_is_income; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_req_items_is_income ON public.req_items USING btree (is_income);


--
-- Name: idx_req_items_request_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_req_items_request_id ON public.req_items USING btree (request_id);


--
-- Name: idx_req_items_status; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_req_items_status ON public.req_items USING btree (status);


--
-- Name: idx_req_logs_req_id_created_at; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_req_logs_req_id_created_at ON public.req_logs USING btree (req_id, created_at);


--
-- Name: idx_req_logs_user_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_req_logs_user_id ON public.req_logs USING btree (user_id);


--
-- Name: idx_request_step_states_step_status; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_request_step_states_step_status ON public.request_step_states USING btree (step_id, status);


--
-- Name: idx_requests_economist_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_requests_economist_id ON public.requests USING btree (economist_id);


--
-- Name: idx_requests_status; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_requests_status ON public.requests USING btree (status);


--
-- Name: idx_requests_unit_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_requests_unit_id ON public.requests USING btree (unit_id);


--
-- Name: idx_step_edges_child; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_step_edges_child ON public.step_edges USING btree (child_step_id);


--
-- Name: idx_step_logs_action; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_step_logs_action ON public.step_logs USING btree (((log ->> 'action'::text)));


--
-- Name: idx_step_logs_step_created_at; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_step_logs_step_created_at ON public.step_logs USING btree (step_id, created_at DESC);


--
-- Name: idx_step_logs_user_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_step_logs_user_id ON public.step_logs USING btree (user_id);


--
-- Name: idx_steps_user_status; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_steps_user_status ON public.steps USING btree (user_id, status);


--
-- Name: idx_storage_objects_content_sha256; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_storage_objects_content_sha256 ON public.storage_objects USING btree (content_sha256);


--
-- Name: idx_storage_objects_storage_key; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_storage_objects_storage_key ON public.storage_objects USING btree (storage_key);


--
-- Name: idx_units_is_active; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_units_is_active ON public.units USING btree (is_active);


--
-- Name: idx_units_parent_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_units_parent_id ON public.units USING btree (parent_id);


--
-- Name: idx_units_responsibles_active; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_units_responsibles_active ON public.units_responsibles USING btree (is_active);


--
-- Name: idx_units_responsibles_user_id; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_units_responsibles_user_id ON public.units_responsibles USING btree (user_id);


--
-- Name: idx_users_id_role; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE INDEX idx_users_id_role ON public.users USING btree (id_role);


--
-- Name: ux_dds_catalog_scope_name; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE UNIQUE INDEX ux_dds_catalog_scope_name ON public.dds_catalog USING btree (unit_id, parent_id, lower(name)) NULLS NOT DISTINCT;


--
-- Name: ux_invests_catalog_scope_name; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE UNIQUE INDEX ux_invests_catalog_scope_name ON public.invests_catalog USING btree (unit_id, parent_id, lower(name)) NULLS NOT DISTINCT;


--
-- Name: ux_steps_unit_not_null; Type: INDEX; Schema: public; Owner: budgetbasket
--

CREATE UNIQUE INDEX ux_steps_unit_not_null ON public.steps USING btree (unit_id) WHERE (unit_id IS NOT NULL);


--
-- Name: req_items trg_req_items_catalog_department; Type: TRIGGER; Schema: public; Owner: budgetbasket
--

CREATE TRIGGER trg_req_items_catalog_department BEFORE INSERT OR UPDATE OF request_id, dds_id, invest_id, status ON public.req_items FOR EACH ROW EXECUTE FUNCTION public.validate_req_item_catalog_department();


--
-- Name: req_items trg_req_items_catalog_mode; Type: TRIGGER; Schema: public; Owner: budgetbasket
--

CREATE TRIGGER trg_req_items_catalog_mode BEFORE INSERT OR UPDATE OF request_id, dds_id, invest_id, status ON public.req_items FOR EACH ROW EXECUTE FUNCTION public.validate_req_item_catalog_mode();


--
-- Name: requests trg_requests_updated_at; Type: TRIGGER; Schema: public; Owner: budgetbasket
--

CREATE TRIGGER trg_requests_updated_at BEFORE UPDATE ON public.requests FOR EACH ROW EXECUTE FUNCTION public.set_requests_updated_at();


--
-- Name: units trg_units_catalog_mode; Type: TRIGGER; Schema: public; Owner: budgetbasket
--

CREATE TRIGGER trg_units_catalog_mode BEFORE UPDATE OF uses_invest_projects ON public.units FOR EACH ROW EXECUTE FUNCTION public.validate_unit_catalog_mode();


--
-- Name: chat_messages chat_messages_chat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_chat_id_fkey FOREIGN KEY (chat_id) REFERENCES public.req_chats(id) ON DELETE CASCADE;


--
-- Name: chat_messages chat_messages_reply_to_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_reply_to_fkey FOREIGN KEY (reply_to) REFERENCES public.chat_messages(id) ON DELETE SET NULL;


--
-- Name: chat_messages chat_messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.chat_messages
    ADD CONSTRAINT chat_messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: chats_participants chats_participants_chat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.chats_participants
    ADD CONSTRAINT chats_participants_chat_id_fkey FOREIGN KEY (chat_id) REFERENCES public.req_chats(id) ON DELETE CASCADE;


--
-- Name: chats_participants chats_participants_last_read_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.chats_participants
    ADD CONSTRAINT chats_participants_last_read_message_id_fkey FOREIGN KEY (last_read_message_id) REFERENCES public.chat_messages(id) ON DELETE SET NULL;


--
-- Name: chats_participants chats_participants_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.chats_participants
    ADD CONSTRAINT chats_participants_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: dds_catalog dds_catalog_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.dds_catalog
    ADD CONSTRAINT dds_catalog_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.dds_catalog(id) ON DELETE SET NULL;


--
-- Name: dds_catalog dds_catalog_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.dds_catalog
    ADD CONSTRAINT dds_catalog_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE SET NULL;


--
-- Name: files files_id_storage_object_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.files
    ADD CONSTRAINT files_id_storage_object_fkey FOREIGN KEY (id_storage_object) REFERENCES public.storage_objects(id) ON DELETE RESTRICT;


--
-- Name: invests_catalog invests_catalog_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.invests_catalog
    ADD CONSTRAINT invests_catalog_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.invests_catalog(id) ON DELETE SET NULL;


--
-- Name: invests_catalog invests_catalog_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.invests_catalog
    ADD CONSTRAINT invests_catalog_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE SET NULL;


--
-- Name: message_files message_files_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.message_files
    ADD CONSTRAINT message_files_file_id_fkey FOREIGN KEY (file_id) REFERENCES public.files(id) ON DELETE CASCADE;


--
-- Name: message_files message_files_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.message_files
    ADD CONSTRAINT message_files_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.chat_messages(id) ON DELETE CASCADE;


--
-- Name: profiles profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: req_chats req_chats_req_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_chats
    ADD CONSTRAINT req_chats_req_id_fkey FOREIGN KEY (req_id) REFERENCES public.requests(id) ON DELETE CASCADE;


--
-- Name: req_item_files req_item_files_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_item_files
    ADD CONSTRAINT req_item_files_file_id_fkey FOREIGN KEY (file_id) REFERENCES public.files(id) ON DELETE CASCADE;


--
-- Name: req_item_files req_item_files_req_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_item_files
    ADD CONSTRAINT req_item_files_req_item_id_fkey FOREIGN KEY (req_item_id) REFERENCES public.req_items(id) ON DELETE CASCADE;


--
-- Name: req_item_month_plans req_item_month_plans_req_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_item_month_plans
    ADD CONSTRAINT req_item_month_plans_req_item_id_fkey FOREIGN KEY (req_item_id) REFERENCES public.req_items(id) ON DELETE CASCADE;


--
-- Name: req_items req_items_dds_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_items
    ADD CONSTRAINT req_items_dds_id_fkey FOREIGN KEY (dds_id) REFERENCES public.dds_catalog(id) ON DELETE RESTRICT;


--
-- Name: req_items req_items_invest_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_items
    ADD CONSTRAINT req_items_invest_id_fkey FOREIGN KEY (invest_id) REFERENCES public.invests_catalog(id) ON DELETE RESTRICT;


--
-- Name: req_items req_items_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_items
    ADD CONSTRAINT req_items_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.requests(id) ON DELETE CASCADE;


--
-- Name: req_logs req_logs_req_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_logs
    ADD CONSTRAINT req_logs_req_id_fkey FOREIGN KEY (req_id) REFERENCES public.requests(id) ON DELETE CASCADE;


--
-- Name: req_logs req_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.req_logs
    ADD CONSTRAINT req_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: request_step_states request_step_states_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.request_step_states
    ADD CONSTRAINT request_step_states_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.requests(id) ON DELETE CASCADE;


--
-- Name: request_step_states request_step_states_step_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.request_step_states
    ADD CONSTRAINT request_step_states_step_id_fkey FOREIGN KEY (step_id) REFERENCES public.steps(id) ON DELETE CASCADE;


--
-- Name: requests requests_economist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_economist_id_fkey FOREIGN KEY (economist_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: requests requests_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE RESTRICT;


--
-- Name: step_edges step_edges_child_step_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.step_edges
    ADD CONSTRAINT step_edges_child_step_id_fkey FOREIGN KEY (child_step_id) REFERENCES public.steps(id) ON DELETE CASCADE;


--
-- Name: step_edges step_edges_parent_step_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.step_edges
    ADD CONSTRAINT step_edges_parent_step_id_fkey FOREIGN KEY (parent_step_id) REFERENCES public.steps(id) ON DELETE CASCADE;


--
-- Name: step_logs step_logs_step_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.step_logs
    ADD CONSTRAINT step_logs_step_id_fkey FOREIGN KEY (step_id) REFERENCES public.steps(id) ON DELETE SET NULL;


--
-- Name: step_logs step_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.step_logs
    ADD CONSTRAINT step_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: steps steps_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.steps
    ADD CONSTRAINT steps_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE RESTRICT;


--
-- Name: steps steps_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.steps
    ADD CONSTRAINT steps_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: units units_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.units(id) ON DELETE SET NULL;


--
-- Name: units_responsibles units_responsibles_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.units_responsibles
    ADD CONSTRAINT units_responsibles_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE CASCADE;


--
-- Name: units_responsibles units_responsibles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.units_responsibles
    ADD CONSTRAINT units_responsibles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_id_role_fkey; Type: FK CONSTRAINT; Schema: public; Owner: budgetbasket
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_id_role_fkey FOREIGN KEY (id_role) REFERENCES public.roles(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict NjRkm66tOzik3rOShsg4cqVFGYcRpMnTUh5phIXUVkOLz4IKaDaYbAO0yabBClc

